In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('ecommerce_data.csv')
df

     CustomerID  Age  Gender ProductCategory  PurchaseAmount
0          1001   56    Male           Books         3593.10
1          1002   46  Female     Electronics         2690.45
2          1003   32    Male           Books         3326.13
3          1004   25    Male        Clothing         1748.89
4          1005   38    Male      Home Decor         3924.03
..          ...  ...     ...             ...             ...
495        1496   56  Female           Books         2031.66
496        1497   49  Female     Electronics         3105.38
497        1498   41    Male        Clothing         1665.97
498        1499   40    Male     Electronics         2398.63
499        1500   49    Male        Clothing         3319.78

[500 rows x 5 columns]

In [2]:
# Data Cleaning
df.head()

df.info()

df.describe()

# missing value
df.isnull()

# Average Purchase by Gender
df.groupby('Gender')['PurchaseAmount'].mean()

#  Average Purchase by Product Category
df.groupby('ProductCategory')['PurchaseAmount'].mean()

# Standard Deviation by Category
df.groupby('ProductCategory')['PurchaseAmount'].std()

# Correlation between age and Purchase Amount
df['Age'].corr(df['PurchaseAmount'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       500 non-null    int64
 1   Age              500 non-null    int64
 2   Gender           500 non-null    object
 3   ProductCategory  500 non-null    object
 4   PurchaseAmount   500 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 19.7+ KB

np.float64(0.0851149415017645)

In [3]:
# numpy Calculation
purchase_amount_array = df['PurchaseAmount'].values
age_array = df['Age'].values

# numpy calculation is Purchase Amount
product_category_mean = np.mean(purchase_amount_array)
product_category_std = np.std(purchase_amount_array)

# numpy calcualtion is Age
Age_mean = np.mean(age_array)
age_std = np.std(age_array)

print(product_category_mean)
print(product_category_std)

print(Age_mean)
print(age_std)

3103.2697200000002
982.6000042317941
39.326
12.188179683611494